h1{
    color: red;
}
p.font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: block;
    line-height: 1.6em;
    }
div.background{   
    background-image: url("image2.jpeg");
    padding: 20px;
    }
    /* Pseudo Classes */ 
li.Pseudo:last-child {
    background: #1fbcd8;
   
  }

 /* Combinators */ 
  div + p.Combinators{
    background-color: yellow;
    font-weight: bold;
    display: inline;
  }
 
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: rgb(30, 223, 159);
  }
  